<!-- head-->
		<div class="head">
			<div class="top">
			<div class="logo"><img src="lib/img/whale.png" alt="Whale-Management" /></div>
				<div class="refresh">
					<a id="nav_menu_refresh"  href="" ><img   src="lib/img/refresh.png" style="border:none;"/></a>
				</div>
				<div class="info">
					<span id="logout"><a href="javascript:;" class="logout" drawText="INDEX_LOGOUT_TEXT"></a></span>
					<span drawText="HEAD_INFO_HELP_TEXT"></span>
				</div>
				<div class="clean"/>
			</div>
			<div class="nav"></div>
		</div>
		<!-- content -->
		<div class="content">
			<div id="content"></div>
		</div>
		<div class="clean"/>
		<!-- footer -->
		<div id="footer_div" class="footer">
			<p drawHtml="FOOTER_HTML">
</p>
		</div>
